*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
  text-align: center
  }
  
  
  .quote{
    transition: 0.5s;
    transition-timing-function: ease-in;
  }

  

  .text-center{
    text-align: center;
  }
  
  
p{
    margin-top: 5px;
    text-align: center;
    position: absolute;
    width: 100%;
    top:21.5%;
    text-align: center
}


